img {
  width: 80px;
  border: 1px solid #000;
  border-radius: 50%;
  padding: 2px;
}
.container-5days {
  text-align: center;
}
form {
  text-align: center;
}

.container-today {
  text-align: center;
}
.container-details {
  text-align: center;
}
.parent {
  width: 40%;
  border: 1px solid rgb(119, 117, 117);
  padding: 30px;
  border-radius: 1%;
  box-shadow: 10px 5px 5px rgb(199, 199, 199);
  margin: 50px auto 0 auto;
}
.units {
  position: relative;
  top: -17px;
}
.temperature {
  font-size: 40px;
  line-height: 2.5;
  font-weight: 500;
}
